<h2 matDialogTitle>Configuration</h2>

<div [formGroup]="form" matDialogContent fxLayout="column">
    <mat-form-field [floatLabel]="true">
        <mat-select matInput formControlName="room" placeholder="Room">
            <mat-option [value]="null"><strong>None</strong></mat-option>
            <mat-divider></mat-divider>
            <mat-optgroup *ngFor="let entry of rooms | async | keyvalue" [label]="entry.key">
                <mat-option *ngFor="let room of entry.value" [value]="room.id">{{ room.name }}</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field [floatLabel]="true">
        <mat-select matInput formControlName="theme" placeholder="theme">
            <mat-option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-dialog-actions align="end">
    <button mat-button matDialogClose>Abort</button>
    <button mat-button color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
</mat-dialog-actions>
