<h2 matDialogTitle>Configuration</h2>

<div [formGroup]="form" matDialogContent fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-select matInput formControlName="room" placeholder="Room">
            <mat-option [value]="null"><strong>None</strong></mat-option>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let room of rooms | async" [value]="room.id">{{ room.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <pre>{{ rooms | async | json:2 }}</pre>
</div>

<mat-dialog-actions align="end">
    <button mat-button matDialogClose>Abort</button>
    <button mat-button color="primary" [disabled]="form.invalid" (click)="save()">Save</button>
</mat-dialog-actions>
