<hc-header></hc-header>

<div class="m-content">
    <div class="m-grid">
        <mat-card [routerLink]="[ '/rooms' ]">
            <mat-card-content>
                <mat-icon>meeting_room</mat-icon>
                <h2 i18n>Rooms</h2>
                <small i18n>{roomCount.on, plural,
                        =1 {1 of your {roomCount.total, plural, =1 {1 room} other {{{ roomCount.total }} rooms}} is on.}
                        other {{{ roomCount.on}} of your {roomCount.total, plural, =1 {1 room} other {{{ roomCount.total }} rooms}} are on.}
                }</small>
            </mat-card-content>
        </mat-card>
        <mat-card [routerLink]="[ '/light-groups' ]">
            <mat-card-content>
                <mat-icon>group_work</mat-icon>
                <h2 i18n>Light Groups</h2>
                <small i18n>{roomCount.on, plural,
                    =1 {1 of your {lightGroupCount.total, plural, =1 {1 light group} other {{{ lightGroupCount.total }} light groups}} is on.}
                    other {{{ lightGroupCount.on}} of your {lightGroupCount.total, plural, =1 {1 light group} other {{{ lightGroupCount.total }} light groups}} are on.}
                }</small>
            </mat-card-content>
        </mat-card>
        <mat-card class="small" (click)="openSetup()">
            <mat-card-content>
                <mat-icon>build</mat-icon>
                <h2 i18n>Setup</h2>
            </mat-card-content>
        </mat-card>
        <mat-card class="small" (click)="openConfig()">
            <mat-card-content>
                <mat-icon>settings</mat-icon>
                <h2 i18n>Configuration</h2>
            </mat-card-content>
        </mat-card>
    </div>
</div>
