<hc-header></hc-header>

<div class="m-content">
    <div class="m-grid">
        <div class="m-grid__item" *ngFor="let room of rooms | async">
            <mat-card [routerLink]="[ '/rooms', room.id ]">
                <mat-card-title class="flex">
                    <mat-icon [svgIcon]="room.class" color="primary"></mat-icon>
                    <span>{{ room.name }}</span>
                    <span class="spacer"></span>
                    <mat-slide-toggle color="primary"
                                      [checked]="room?.state?.any_on"
                                      (click)="$event.stopPropagation()"
                                      (change)="toggle($event, room)"></mat-slide-toggle>
                </mat-card-title>
            </mat-card>
        </div>
    </div>
</div>
