<hc-header></hc-header>

<div class="m-content">
    <div class="m-grid">
        <div class="m-grid__item" *ngFor="let room of rooms | async">
            <mat-card>
                <mat-card-title class="flex">
                    <span>{{ room.name }}</span>
                    <span class="spacer"></span>
                    <mat-icon [svgIcon]="room.class" color="primary"></mat-icon>
                </mat-card-title>
                <mat-card-actions align="end">
                    <button mat-icon-button (click)="groupOn(room.id);$event.stopPropagation();"><mat-icon>power_settings_new</mat-icon></button>
                    <button mat-icon-button (click)="groupOff(room.id);$event.stopPropagation();"><mat-icon>not_interested</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
