<hc-header>
    <ng-template #title>
        <button mat-icon-button [routerLink]="[ '..' ]"><mat-icon>arrow_back_ios</mat-icon></button>
        <h1 *ngIf="group | async as _group">{{ _group.name }}</h1>
    </ng-template>
</hc-header>

<div class="m-content" *ngIf="group | async as _group" [formGroup]="form">
    <ng-container *ngFor="let light of _group.$lights; trackBy: trackById; let index = index" [formArrayName]="index">
        <hc-hue-control>
            <ng-template #hcTitle>
                <span>{{ light.name }}</span>
            </ng-template>
        </hc-hue-control>
    </ng-container>
</div>
